<!DOCTYPE html>
<html>
  <head>
    {% include 'header.html' %}   
    {% include 'scripts.html' %}   
  </head>
  <body>
    {% include 'nav.html' %}   

    <div class="container">
      {% include 'hero.html' %}   
      <div class="row">
        <div class="span8">
          <h2>Who Are We?</h2>
          <p class ="lead" align="justify">SocketBox is a push notification service which allows developers to send real time data in terms of notifications to your applications from a server .</p>
          <p class ="lead" align="justify">SocketBox is developed by 2 Computer Science Engineers who ealized the importance and the need for a push notification service while working on another project and decided to simplify the whole process by building a separate , simple and easy to use push notification service for developers.</p>  
        </div>
        <div class="span4">
          <form class="form-signin">
            <h2 class="form-signin-heading">Register Now!</h2>
            <input type="text" class="input-block-level" placeholder="Name">
            <input type="text" class="input-block-level" placeholder="Email address">
            <input type="password" class="input-block-level" placeholder="Password">
            <input type="password" class="input-block-level" placeholder="Confirm Password">
            <!--<label class="checkbox">
              <input type="checkbox" value="remember-me"> Remember me
            </label>-->
            <button class="btn btn-large btn-primary" type="submit">Register</button>
          </form>
        </div>
      </div>
    </div>

    
  </body>
</html>