<!DOCTYPE html>
<html>
  <head>
    {% include 'header.html' %}   
    {% include 'scripts.html' %}   
  </head>
  <body>
    {% include 'nav.html' %}   

    <div class="container">
      {% include 'hero.html' %}   
      <div class="row">
        <div class="span6">
          <h3>Account Usage!</h3>
          <p class ="lead" align="justify">Statistics Feature Coming Soon!</p>
        </div>
        <div class="span6">
          <h3>Account Settings!</h3>
            <form class="form-signin">
            <!--<h2 class="form-signin-heading">Register Now!</h2>-->
            
            {% for details in mydetails %}
            <p class ="lead" align="justify">{{details.email}}</p>
            <input type="text" class="input-block-level" id="name" placeholder="Name" value="{{details.name}}">
            <input type="password" class="input-block-level" id="pass" placeholder="Current Password">
            
            <input type="password" size="30" class="input-block-level" id="newpass" placeholder="New Password">
            
            <input type="password" class="input-block-level" id="newcpass" placeholder="Confirm New Password">
            {% endfor %}
            <div id="account-error-content"></div>
            <button class="btn btn-large btn-primary" type="button" id="account" onclick="editaccount()">Save Changes</button>
            <div id="loading" ></div>
          </form>
          <div id = "register-server-alerts"></div>          
        </div>
      </div>
    </div>
  </body>
  <footer>
    {% include 'footer.html' %}
  </footer>
</html>