<!DOCTYPE html>
<html>
  <head>
    {% include 'header.html' %}   
    {% include 'scripts.html' %}   
  </head>
  <body>
    {% include 'nav.html' %}   

    <div class="container">
      {% include 'hero.html' %}   
      <div class="row">
        <div class="span6">
          <h3>Account Usage!</h3>
          <p class ="lead" align="justify">Statistics Feature Coming Soon!</p>
        </div>
        <div class="span6">
          <h3>Account Settings!</h3>
          <p class ="lead" align="justify">This is the main area.</p> 
          
        </div>
      </div>
    </div>
  </body>
  <footer>
    {% include 'footer.html' %}
  </footer>
</html>