<!DOCTYPE html>
<html>
  <head>
    {% include 'header.html' %}   
    {% include 'scripts.html' %}   
  </head>
  <body>
    {% include 'nav.html' %}   

    <div class="container">
      {% include 'hero.html' %}   
      <div class="row">
        <div class="span4">
          <h3 class="text-info">Account Settings!</h3>
            <form class="form-signin">
            <!--<h2 class="form-signin-heading">Register Now!</h2>-->
            
            {% for details in mydetails %}
            <p class ="lead" align="justify">{{details.email}}</p>
            
            <input type="hidden" class="input-block-level" id="name" placeholder="Name" value="{{details.name}}">
            <input type="password" class="input-block-level" id="pass" placeholder="Current Password">
            
            <input type="password" size="30" class="input-block-level" id="newpass" placeholder="New Password">
            
            <input type="password" class="input-block-level" id="newcpass" placeholder="Confirm New Password">
            {% endfor %}
            <div id="account-error-content"></div>
            <button class="btn btn-large btn-primary" type="button" id="account" onclick="editaccount()">Save Changes</button>
            <div id="loading" ></div>
          </form>
        </div>
        <div class="span8">
          <h3 class="text-info">Account Usage!</h3>
          
           <!--  <p class ="lead" align="justify">Statistics Feature Coming Soon!</p> -->
          {% if activeappstatus == "valid" %}
          <table class="table table-bordered">
            <tr>
              <td class="text-error">Total Apps Count</td>
              <td class="text-success">{{appscount}}</td>
            </tr>
            <tr>
              <td class="text-error">Most Active App</td>
              <td class="text-success">{{activeapp}}</td>
            </tr>
            <tr>
              <td class="text-error">Total Message Count</td>
              <td class="text-success">{{msgcount}}</td>
            </tr>
            <tr>
              <td class="text-error">Last Message Sent</td>
              {% load tz %}
              {% localtime on %} 
              <td class="text-success">{{lastupdatetime}}</td>
             {% endlocaltime %} 
            </tr>
            <tr>
              <td class="text-error">Last Logged in at</td>
              {% load tz %}
              {% localtime on %} 
              <td class="text-success">{{lastlogin}}</td>
             {% endlocaltime %} 
            </tr>
            <tr>
              <td class="text-error">Account Creation Date</td>
              {% load tz %}
              {% localtime on %} 
              <td class="text-success">{{accountcreation}}</td>
             {% endlocaltime %} 
            </tr>
          </table>  
          {% else %}
          <p class ="lead" align="justify">You have no apps to show stats for!</p>
          {% endif %}


          <!--<p>DEBUG</p>

          {% for app in applog %}
          <h5>{{app.name}}-{{app.count}}</h5>
          {% endfor %}
          -->
          <div id="mygraph" style="display:None;width:500px;height:300px"></div>
          <div id="hourgraph" style="width:95%;height:300px"></div>
                <p class ="lead" align="justify">Messages Sent On A Daily Basis!</p>
                <div id="daygraph" style="width:95%;height:300px"></div>
                <p class ="lead" align="justify">Messages Sent On A Monthly Basis!</p>
                <div id="monthgraph" style="width:95%;height:300px"></div><br>
                <!--<div id="daygraph" style="width:500px;height:300px"></div>
                <div id="monthgraph" style="width:500px;height:300px"></div> -->
                <script type="text/javascript">
                //function showhour()
                {
                 //dataset[0].label="Messages Sent On an Hourly Basis";
                  options.xaxis.axisLabel="Time in Hours";
                  options.yaxis.axisLabel="Number Of Messages";

                  var ctr=0;            
                  data = [];
                  ticks = [];
                  {% for hour in hourcounter %}
                    data.push([ctr,{{hour.count}}]);
                    ticks.push([ctr++,"{{hour.time}}"]);
                  dataset[0].data=data;
                  options.xaxis.ticks=ticks;
                  {% endfor %}
                    $.plot($("#hourgraph"), dataset, options);
                    $("#hourgraph").UseTooltip();   

                }
                //function showday()
                {
                 //dataset[0].label="Messages Sent On a Daily Basis";
                  options.xaxis.axisLabel="Time in Days";
                  options.yaxis.axisLabel="Number Of Messages";
                  var ctr=0;            
                  data =  [];
                  ticks = [];
                  {% for day in daycounter %}
                    data.push([ctr,{{day.count}}]);
                    ticks.push([ctr++,"{{day.date}}"]);
                  {% endfor %}
                  dataset[0].data=data;
                  options.xaxis.ticks=ticks;
                    $.plot($("#daygraph"), dataset, options);
                    $("#daygraph").UseTooltip();   

                }
                //function showmonth()
                {
                 //dataset[0].label="Messages Sent On a Monthly Basis";
                  options.xaxis.axisLabel="Time in Months";
                  options.yaxis.axisLabel="Number Of Messages";
                  var ctr=0;   
                  data =  [];
                  ticks = [];         
                  {% for month in monthcounter %}
                    data.push([ctr,{{month.count}}]);
                    ticks.push([ctr++,"{{month.time}}"]);
                  {% endfor %}
                  dataset[0].data=data;
                  options.xaxis.ticks=ticks;
                    $.plot($("#monthgraph"), dataset, options);
                    $("#monthgraph").UseTooltip();   

                }
                </script>
          <p class ="lead" align="justify"><i class="icon-bar-chart"></i>SocketBox App Statistics</p>
          <div id="mygraph2" style="width:500px;height:300px"></div>
          <script type="text/javascript">
            //dataset[0].label="Socketbox App Statistics";
            options.xaxis.axisLabel="Name Of Socketbox App";
            options.yaxis.axisLabel="Number Of Messages";
            var ctr=0;            
            {% for app in applog %}
              data.push([ctr,{{app.count}}]);
              ticks.push([ctr++,"{{app.name}}"]);
            {% endfor %}
            $(document).ready(function () {
              $.plot($("#mygraph2"), dataset, options);
              $("#mygraph2").UseTooltip();
            });
          </script>
          <p>TIME DEBUG</p>
              {% load tz %}
              {% localtime on %} 
              <p>{{currtime}}</p>
              {% endlocaltime %}
        </div>

      </div>
    </div>
  </body>
  <footer>
    {% include 'footer.html' %}
  </footer>
</html>