<!DOCTYPE html>
<html>
  <head>
    {% include 'header.html' %}   
    {% include 'scripts.html' %}   
  </head>
  <body>
    {% include 'nav.html' %}   

    <div class="container">
      {% include 'hero.html' %}   
      <div class="row">
        <div class="span9">
         <!-- <button class="btn btn-danger" type="button" onclick="window.location.href='/socketbox/dashboard/'">Back To Dashboard</button>
          
          <h1>{{myapp.appname}}</h1>      
          <button class="btn btn-warning" href="#renameapp" data-toggle="modal" type="button">Rename App</button><br><br>
          <button class="btn btn-danger" href="#delapp" data-toggle="modal" type="button">Delete App</button><br><br>
          <button class="btn btn-success" href="#tutorial" data-toggle="modal" type="button">View Sample Code</button><br><br>
        -->
          <button class="btn btn-danger" type="button" onclick="window.location.href='/socketbox/dashboard/'">Back To Dashboard</button>
          
          <h1>{{myapp.appname}}</h1>
          <div class="tabbable tabs-left"> <!-- Only required for left/right tabs -->
            <ul class="nav nav-tabs">
              <li class="active"><a href="#tab1" data-toggle="tab">App Statistics</a></li>
              <li><a href="#tab2" data-toggle="tab">Rename App</a></li>
              <li><a href="#tab3" data-toggle="tab">Delete App</a></li>
              <li><a href="#tab4" data-toggle="tab">View Tutorials App</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab1">
                <p class ="lead" align="justify">App Statistics to come here!</p>
                <div id="placeholder" style="width:99%;height:300px"></div>
                <!--<div id="daygraph" style="width:500px;height:300px"></div>
                <div id="monthgraph" style="width:500px;height:300px"></div> -->
                <script type="text/javascript">
                  dataset[0].label="Messages Sent On an Hourly Basis";
                  options.xaxis.axisLabel="Time";
                  options.yaxis.axisLabel="Number Of Messages";
                  var ctr=0;            
                  {% for hour in hourcounter %}
                    data.push([ctr,{{hour.count}}]);
                    ticks.push([ctr++,"{{hour.time}}"]);
                  {% endfor %}
                  $(document).ready(function () {
                    $.plot($("#placeholder"), dataset, options);
                    $("#placeholder").UseTooltip();
                  });
                </script>
                <p>DEBUG</p>
                <p>DAY COUNTER</p>
                {% for day in daycounter %}
                  <p>{{day.date}} - {{day.count}}</p>
                {% endfor %}

                 <p>HOUR COUNTER</p>
                {% for hour in hourcounter %}
                  <p>{{hour.time}} - {{hour.count}}</p>
                {% endfor %}

                <p>MONTH COUNTER</p>
                {% for month in monthcounter %}
                  <p>{{month.time}} - {{month.count}}</p>
                {% endfor %}
              </div>
              <div class="tab-pane" id="tab2">
                <form class="form-signin">
                  <h2 class="form-signin-heading">Rename App</h2>
                  <input type="text" size="5" class="input-block-level" name="newappname" id="newappname" placeholder="New App Name">
                  <input type="hidden" id="oldappname" name="oldappname" value="{{myapp.appname}}">
                  <button class="btn btn-large btn-primary" type="button" onclick="renameapp()">Submit</button>
                  <div id="loading"></div>
                  <div id="renameapp-error-content"></div>
                </form>
              </div>
              <div class="tab-pane" id="tab3">
                <form class="form-signin">
                  <h2 class="form-signin-heading">Are you sure you want to delete {{myapp.appname}} ?</h2>
                  <input type="hidden" id="todeleteappname" name="todeleteappname" value="{{myapp.appname}}">
                  <button class="btn btn-large btn-danger" type="button" onclick="deleteapp()">Delete App</button>
                  <div id="loading"></div>
                  <div id="deleteapp-error-content"></div>
                </form>
              </div>
              <div class="tab-pane" id="tab4">
                {% include 'tutorials-modal.html' %}
              </div>
            </div>
          </div>
        </div>

<!--        <div class="span7">
          <h3 class="text-info">App Statistics!</h3>
          <p class ="lead" align="justify">App Statistics Coming Soon!</p>
        </div> -->
        <div class="span3">
          <h3 class="text-info">App Credentials!</h3>
          <h5>App Name : <span class="text-success">{{myapp.appname}}</span></h5>
          <h5>API Key : <span class="text-error">{{myapp.apikey}}</span></h5>
          <h5>Secret Key : <span class="text-warning">{{myapp.secret}}</span></h5>
<!--          <p class ="lead" align="justify">This is the main area.</p> -->
          
          <button class="btn btn-primary" href="#resetapp" data-toggle="modal" type="button">Reset Credentials</button>
        </div>
      </div>
    </div>

    <div id="delapp" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <form class="form-signin">
          <h2 class="form-signin-heading">Are you sure you want to delete {{myapp.appname}} ?</h2>
          <input type="hidden" id="todeleteappname" name="todeleteappname" value="{{myapp.appname}}">
          <button class="btn btn-large btn-danger" type="button" onclick="deleteapp()">Delete App</button>
          <div id="loading"></div>
          <div id="deleteapp-error-content"></div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
       <!-- <button class="btn btn-primary">Save changes</button> -->
      </div>
    </div>  

       <div id="renameapp" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <form class="form-signin">
          <h2 class="form-signin-heading">Rename App</h2>
          <input type="text" size="5" class="input-block-level" name="newappname" id="newappname" placeholder="New App Name">
          <input type="hidden" id="oldappname" name="oldappname" value="{{myapp.appname}}">
          <button class="btn btn-large btn-primary" type="button" onclick="renameapp()">Submit</button>
          <div id="loading"></div>
          <div id="renameapp-error-content"></div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
       <!-- <button class="btn btn-primary">Save changes</button> -->
      </div>
    </div>

       <div id="resetapp" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <form class="form-signin">
          <h2 class="form-signin-heading">Reset App</h2>
          <input type="hidden" id="toresetappname" name="toresetappname" value="{{myapp.appname}}">
          <button class="btn btn-large btn-danger" type="button" onclick="resetapp()">Submit</button>
          <div id="loading"></div>
          <div id="resetapp-error-content"></div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
       <!-- <button class="btn btn-primary">Save changes</button> -->
      </div>
    </div>

    <div id="tutorial" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        {% include 'tutorials-modal.html' %}           
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
       <!-- <button class="btn btn-primary">Save changes</button> -->
      </div>
    </div>  
  </body>
  <footer>
    {% include 'footer.html' %}
  </footer>
</html>