<!DOCTYPE html>
<html>
  <head>
    {% include 'header.html' %}   
    {% include 'scripts.html' %}   
  </head>
  <body>
    {% include 'nav.html' %}   

    <div class="container">
      {% include 'hero.html' %}   
      <div class="row">
        <div class="span12">
          <div class="tabbable tabs-left"> <!-- Only required for left/right tabs -->
            <ul class="nav nav-tabs">
              <li class="active"><a href="#tab1" data-toggle="tab"><i class="icon-bar-chart"></i> Your Apps</a></li>
              <li><a href="#tab2" data-toggle="tab"><i class="icon-pencil"></i> Account Stats</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab1">
                <h3 class="text-info">Your apps! 
                  <a href="#newapp" class="btn btn-inverse" data-toggle="modal"><i class="icon icon-plus-sign"></i> New App</a>
                </h3>
                <table class="table table-bordered">
                  <tr>
                    <th>App Name</th>
                    <th>API Key</th>
                    <th>Secret Key</th>    
                  </tr>
                  {% for app in myapps %}
                  <tr>
                    <td><button class="btn btn-link" type="button" onclick="window.location.href='/show/app/{{app.id}}'"><h3>{{app.appname}}</h3></button></td>
                    <td><span class="text-success"><h4>{{app.apikey}}</h4></span></td>
                    <td><span class="text-error"><h4>{{app.secret}}</h4></span></td>    
                  </tr>  
                  {% endfor %}
                </table> 
              </div>
              <div class="tab-pane" id="tab2">
                <h3 class="text-info">Account Statistics!</h3>
                   
        
                {% if activeappstatus == "valid" %}
                <table class="table table-bordered">
                  <tr>
                    <td class="text-error">Total Apps Count</td>
                    <td class="text-success">{{appscount}}</td>
                  </tr>
                  <tr>
                    <td class="text-error">Most Active App</td>
                    <td class="text-success">{{activeapp}}</td>
                  </tr>
                  <tr>
                    <td class="text-error">Total Message Count</td>
                    <td class="text-success">{{msgcount}}</td>
                  </tr>
                  <tr>
                    <td class="text-error">Last Message Sent</td>
                    {% load tz %}
                    {% localtime on %} 
                    <td class="text-success">{{lastupdatetime}}</td>
                   {% endlocaltime %} 
                  </tr>
                </table>  
                {% else %}
                <p class ="lead" align="justify">You have no apps to show stats for!</p>
                {% endif %}


                <div id="mygraph" style="display:None;width:500px;height:300px"></div>
                <p class ="lead" align="justify"><i class="icon-bar-chart"></i> App Statistics</p>
                <!--<div id="mygraph2" style="width:500px;height:300px"></div> -->
               <!-- <script type="text/javascript">
                  //dataset[0].label="Socketbox App Statistics";
                  options.xaxis.axisLabel="Name Of Socketbox App";
                  options.yaxis.axisLabel="Number Of Messages";
                  var ctr=0;            
                  {% for app in applog %}
                    data.push([ctr,{{app.count}}]);
                    ticks.push([ctr++,"{{app.name}}"]);
                  {% endfor %}
                  $(document).ready(function () {
                    $.plot($("#mygraph2"), dataset, options);
                    $("#mygraph2").UseTooltip();
                  });
                </script> -->
                <p class ="lead" align="justify">Messages Sent On An Hourly Basis!</p>
                <div id="hourgraph" style="width:500px;height:300px"></div><br><br>
                <p class ="lead" align="justify">Messages Sent On A Daily Basis!</p>
                <div id="daygraph" style="width:500px;height:300px"></div><br><br>
                <p class ="lead" align="justify">Messages Sent On A Monthly Basis!</p>
                <div id="monthgraph" style="width:500px;height:300px"></div><br>
                <!--<div id="daygraph" style="width:500px;height:300px"></div>
                <div id="monthgraph" style="width:500px;height:300px"></div> -->
                <script type="text/javascript">
                //function showhour()
                {
                 //dataset[0].label="Messages Sent On an Hourly Basis";
                  options.xaxis.axisLabel="Time in Hours";
                  options.yaxis.axisLabel="Number Of Messages";

                  var ctr=0;            
                  data = [];
                  ticks = [];
                  {% for hour in hourcounter %}
                    data.push([ctr,{{hour.count}}]);
                    ticks.push([ctr++,"{{hour.time}}"]);
                  dataset[0].data=data;
                  options.xaxis.ticks=ticks;
                  {% endfor %}
                    $.plot($("#hourgraph"), dataset, options);
                    $("#hourgraph").UseTooltip();   

                }
                //function showday()
                {
                 //dataset[0].label="Messages Sent On a Daily Basis";
                  options.xaxis.axisLabel="Time in Days";
                  options.yaxis.axisLabel="Number Of Messages";
                  var ctr=0;            
                  data =  [];
                  ticks = [];
                  {% for day in daycounter %}
                    data.push([ctr,{{day.count}}]);
                    ticks.push([ctr++,"{{day.date}}"]);
                  {% endfor %}
                  dataset[0].data=data;
                  options.xaxis.ticks=ticks;
                    $.plot($("#daygraph"), dataset, options);
                    $("#daygraph").UseTooltip();   

                }
                //function showmonth()
                {
                 //dataset[0].label="Messages Sent On a Monthly Basis";
                  options.xaxis.axisLabel="Time in Months";
                  options.yaxis.axisLabel="Number Of Messages";
                  var ctr=0;   
                  data =  [];
                  ticks = [];         
                  {% for month in monthcounter %}
                    data.push([ctr,{{month.count}}]);
                    ticks.push([ctr++,"{{month.time}}"]);
                  {% endfor %}
                  dataset[0].data=data;
                  options.xaxis.ticks=ticks;
                    $.plot($("#monthgraph"), dataset, options);
                    $("#monthgraph").UseTooltip();   

                }
                </script>
                <p>TIME DEBUG</p>
                    {% load tz %}
                    {% localtime on %} 
                    <p>{{currtime}}</p>
                    {% endlocaltime %}

                </div>
            </div>
        </div>
      </div>
  </div>
    </div>

    <div id="newapp" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <form class="form-signin">
          <h2 class="form-signin-heading">Add A New App</h2>
          <input type="text" size="5" class="input-block-level" name="appname" id="appname" placeholder="App Name">
          <button class="btn btn-large btn-primary" type="button" onclick="createapp()">Create App</button>
          <div id="loading"></div>
          <div id="createapp-error-content"></div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
       <!-- <button class="btn btn-primary">Save changes</button> -->
      </div>
    </div>  
  </body>
  <footer>
    {% include 'footer.html' %}
  </footer>
</html>