<!DOCTYPE html>
<html>
  <head>
    {% include 'header.html' %}   
    {% include 'scripts.html' %}   
  </head>
  <body>
    {% include 'nav.html' %}   

    <div class="container">
      {% include 'hero.html' %}   
      <div class="row">
        <div class="span6">
          <h3 class="text-info">Your apps! 
            <a href="#newapp" class="btn btn-inverse" data-toggle="modal"><i class="icon icon-plus-sign"></i>New App</a>
          </h3>
<!--          <p class ="lead" align="justify">This is the main area.</p> -->
          <table class="table table-bordered">
            <tr>
              <th>App Name</th>
              <th>API Key</th>
              <th>Secret Key</th>    
            </tr>
            {% for app in myapps %}
            <tr>
              <td><button class="btn btn-link" type="button" onclick="window.location.href='/socketbox/show/app/{{app.id}}'"><h3>{{app.appname}}</h3></button></td>
              <td><span class="text-success"><h4>{{app.apikey}}</h4></span></td>
              <td><span class="text-error"><h4>{{app.secret}}</h4></span></td>    
            </tr>  
            {% endfor %}
          </table>
        </div>

        <div class="span6">
          <h3 class="text-info">Account Statistics!</h3>
                   
        <!--  <p class ="lead" align="justify">Statistics Feature Coming Soon!</p> -->
          {% if activeappstatus == "valid" %}
          <table class="table table-bordered">
            <tr>
              <td class="text-error">Total Apps Count</td>
              <td class="text-success">{{appscount}}</td>
            </tr>
            <tr>
              <td class="text-error">Most Active App</td>
              <td class="text-success">{{activeapp}}</td>
            </tr>
            <tr>
              <td class="text-error">Total Message Count</td>
              <td class="text-success">{{msgcount}}</td>
            </tr>
            <tr>
              <td class="text-error">Last Message Sent</td>
              {% load tz %}
              {% localtime on %} 
              <td class="text-success">{{lastupdatetime}}</td>
             {% endlocaltime %} 
            </tr>
          </table>  
          {% else %}
          <p class ="lead" align="justify">You have no apps to show stats for!</p>
          {% endif %}
          <p>TIME DEBUG</p>
              {% load tz %}
              {% localtime on %} 
              <p>{{currtime}}</p>
              {% endlocaltime %}


          <p>DEBUG</p>

          {% for app in applog %}
          <h5>{{app.name}}-{{app.count}}</h5>
          {% endfor %}

          <table>
 <caption>Visits from August 16 to August 21</caption>
 <thead>
 <tr>
 <td></td>
 <th scope="col">Monday</th>
 <th scope="col">Tuesday</th>
 <th scope="col">Wednesday</th>
 <th scope="col">Thursday</th>
 <th scope="col">Friday</th>
 <th scope="col">Saturday</th>
 <th scope="col">Sunday</th>
 </tr>
 </thead>
 <tbody>

 <tr>
 <th scope="row">CatsWhoCode.com</th>
 <td>12541</td>
 <td>11204</td>
 <td>11354</td>
 <td>10058</td>
 <td>9871</td>
 <td>8254</td>
 <td>5477</td>
 </tr>
 <tr>
 <th scope="row">WpRecipes.com</th>
 <td>9855</td>
 <td>8870</td>
 <td>8731</td>
 <td>7488</td>
 <td>8159</td>
 <td>6547</td>
 <td>4512</td>
 </tr>
 <tr>
 <th scope="row">CatsWhoBlog.com</th>
 <td>3241</td>
 <td>2544</td>
 <td>2597</td>
 <td>3108</td>
 <td>2114</td>
 <td>2045</td>
 <td>950</td>
 </tr>
 </tbody>
</table> 
<div id="chart"></div>
<script type="text/javascript">
 $(function(){
  $('table')
   .visualize()
   .appendTo('#chart')
   .trigger('visualizeRefresh');
 });
</script>


        </div>
      </div>
    </div>

    <div id="newapp" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <form class="form-signin">
          <h2 class="form-signin-heading">Add A New App</h2>
          <input type="text" size="5" class="input-block-level" name="appname" id="appname" placeholder="App Name">
          <button class="btn btn-large btn-primary" type="button" onclick="createapp()">Create App</button>
          <div id="loading"></div>
          <div id="createapp-error-content"></div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
       <!-- <button class="btn btn-primary">Save changes</button> -->
      </div>
    </div>  
  </body>
  <footer>
    {% include 'footer.html' %}
  </footer>
</html>