<!DOCTYPE html>
<html>
  <head>
    {% include 'header.html' %}   
    {% include 'scripts.html' %}   
  </head>
  <body>
    {% include 'nav.html' %}   

    <div class="container">
      {% include 'hero.html' %}   
      <div class="row">
        <div class="span4">
          <h2>Dashboard!</h2>
          <p class ="lead" align="justify">This is the side panel</p>
        </div>
        <div class="span8">
          <p class ="lead" align="justify">This is the main area</p>
        </div>
      </div>
    </div>

    
  </body>
  <footer>
    {% include 'footer.html' %}
  </footer>
</html>