<!DOCTYPE html>
<html>
  <head>
    {% include 'header.html' %}   
    {% include 'scripts.html' %}   
  </head>
  <body>
    {% include 'nav.html' %}   

    <div class="container">
      {% include 'hero.html' %}   
      <div class="row">
        <div class="span8">
          <h2>Simple Yet Flexible!</h2>
          <p class ="lead" align="justify">Almost all applications today are highly dynamic and realtime . It is highly important to send notifications in realtime from your server to all your web clients without the need to poll. This makes your web application highly responsive and dynamic . SocketBox provides just the righ tool for you to achieve this kind of realtime information broadcasting .
          <p><a class="btn btn-danger" href="/features/">View Features &raquo;</a></p>
          <h2>Ready To Use!</h2>
          <p class ="lead" align="justify"> We believe that developers should not waste their time setting up basic elements like socket communications for real time information sharing , instead developers should spend their time and resources on building the cool stuff . Thus SocketBox came to life and it provides a simple and easy to use API to quickly get started on giving out push notifications . </p>
          <p><a class="btn btn-danger" href="/register/">Get Started &raquo;</a></p>

          <h2>Cross Platform Support!</h2>
          <p class ="lead" align="justify">This website has a bunch of tutorials to help you get started on setting up socketbox for your web application over a wide range of environments</p>
          <p><a class="btn btn-danger" href="/tutorials/">View Tutorials &raquo;</a></p>
        </div>
        <div class="span4">
          <form class="form-signin">
            <h2 class="form-signin-heading">Register Now!</h2>
            <input type="text" class="input-block-level" id="name" placeholder="Name">
            <input type="text" class="input-block-level" id="emailid" placeholder="Email address">
            <input type="password" class="input-block-level" id="pass" placeholder="Password">
            <input type="password" class="input-block-level" id="cpass" placeholder="Confirm Password">
            <div class="control-group error">
              <div class="controls">
                <span class="help-inline">
                  <span id="register-error-content"></span>
                </span>
              </div>
            </div>
            <button class="btn btn-large btn-primary" type="button" id="register" onclick="validateregister()">Register</button>
          </form>
        </div>
      </div>
    </div>

    
  </body>
  <footer>
    {% include 'footer.html' %}
  </footer>
</html>